<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Uri" value="https://cbr.ru/explan/pcod/?tab.current=t2"/>
    <add key="Mirror" value="Archive"/>
	<add key="Proxy" value="http://192.168.2.1:3128/"/>
    <add key="Admin" value="admin@bank.ru"/>
    <add key="Subscribers" value="user1@bank.ru,user2@bank.ru"/>
    <add key="WaitClose" value="1"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <!-- С какого адреса рассылка, метод отправки, SMTP сервер, авторизация -->
      <smtp from="robot@bank.ru" 
            deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory 
          pickupDirectoryLocation="%TEMP%\{%App%}\mail"/>
      </smtp>
      <!--
      <smtp from="robot@bank.ru" 
            deliveryMethod="Network">
        <network defaultCredentials="false"
            host="127.0.0.1" 
            port="25" 
            userName="robot@bank.ru" 
            password="****" 
            enableSsl="true"/>
      </smtp>
      -->
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="WebFileMirror" switchName="levelSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <add name="eMail"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- (Switch level: Off, Error, Warning, Information, Verbose, All) -->
      <add name="levelSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <!-- (Console initializeData: true-stdErr, false-stdOut //currently ignored) -->
      <add name="console" type="Lib.AppConsoleListener, WebFileMirror" initializeData="false" 
           format="{%Now%:HH:mm:ss} ">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="logFile" type="Lib.AppLogFileListener, WebFileMirror" 
           initializeData="%TEMP%\{%App%}\logs\{%Now%:yyyy}\{%Now%:yyyyMMdd}_{%App%}.log" 
           format="{%Now%:dd.MM.yyyy HH:mm:ss} {%Lvl%, -3} " 
           verbose="" 
           information="" 
           warning="{?}" 
           error="[!]">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="eMail" type="Lib.AppEMailListener, WebFileMirror" 
           initializeData="admin@bank.ru">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
      </add>
      <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceLog" /> -->
      <!-- <add name="Diagnostics" type="System.Diagnostics.TextWriterTraceListener" initializeData="Diagnostics.log"/> -->
      <!-- (Console initializeData: true-stdErr, false-stdOut) -->  
      <!-- <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/> -->
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
