<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Uri" value="http://www.cbr.ru/explan/pcod/"/>
    <add key="Start" value="&gt;КО&lt;"/>
    <add key="Finish" value="&gt;НФО&lt;"/>
    <add key="Mirror" value="Archive"/>
  </appSettings>
</configuration>